.login-col {
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
}
@media screen and (max-width: 1850px) {
  .login-col {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 150px;
  }
}
@media screen and (max-width: 1500px) {
  .login-col {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .banner-col {
    display: none;
  }
  .login-col {
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
