.card {
  /* background: whtie; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  border: none;
}

.card-header {
  background: #364658;
  color: white !important;
  border-bottom: none;
}

.card-header-text {
  color: white !important;
}

.card-text {
  color: white;
}

#content {
  background: #2c3a4a;
}
.sidebar {
  /* Existing styles for the sidebar */
  transition: left 0.5s ease; /* Apply transition to the left property */
}
.dashboard-navbar-hidden {
  left: -450px !important;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value to change the transparency */
  z-index: 9999; /* Ensure the overlay appears above other content */
  /* Additional styles if needed */
}

.dashboard-nav-item {
  height: 90px;
  font-size: 45pt !important;
}
.nav-link {
  border-radius: 15px;
  height: 90px;
  vertical-align: middle;
  padding-left: 25px;
}
.nav-link:hover {
  background: #f4f7f8 !important;
  /* Create a fading animation */
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s;
  /* Firefox */
  -webkit-animation: fadein 0.5s;
  /* Safari and Chrome */
  -o-animation: fadein 0.5s;
  /* Opera */
  vertical-align: middle;
}
.dropdown-item {
  padding: 15px;
}

.sticky-footer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.ui-btn {
  background: #3aaf5c;
  border: none;
}

th,
td {
  color: #2c3a4a !important;
}

.heading-container {
  overflow: auto;
  margin-bottom: 35px;
  vertical-align: middle;
}

.tenant-info {
  text-align: left;
  font-size: 12pt;
  margin: 5px 0;
}

.tenant-info-heading {
  text-align: left;
  font-weight: 700;
  font-size: 15pt;
}

.property-col-img-container {
  height: 175px;
  overflow: hidden;
  margin-bottom: 10px;
}
.form-control {
  color: #2c3a4a !important;
  background: #f4f7f8 !important;
  border: none !important;
}
.top-bar-searchbar {
  background: #364658 !important;
  color: white !important;
  border: none !important;
}

.ui-btn {
  background: #3aaf5c;
  border: none;
  color: white;
  text-transform: none;
}
.rental-application-lease-heading {
  font-weight: bold;
  font-size: 13pt;
}

table#ui-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  border: none;
  padding: 5px;
}
table#ui-table td {
  color: #364658 !important;
}
table#ui-table td,
table#ui-table th {
  padding: 20px;
}

table#ui-table th > * {
  background: none;
  color: #2c3a4a;
  border-bottom: 1px solid #3aaf5c;
  font-weight: 500;
  font-size: 15pt;
}

table#ui-table tr {
  border: none;
}

table#ui-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  /* background-color: #3aaf5c; */
}

table#ui-table td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
}
table#ui-table td:last-child,
table#ui-table th:last-child {
  border-radius: 0 5px 5px 0;
}

table#ui-table tr:first-child,
table#ui-table tr:first-child:hover {
  box-shadow: none;
}
table#ui-table tr {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

table#ui-table tr:hover {
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

select {
  outline: none !important;
}

table#ui-table-mini {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  border: none;
}

table#ui-table-mini td {
  padding: 0 5px;
  text-align: left;
  padding-left: 10px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 460px;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  table#ui-table-mini td {
    padding: 0 5px;
    text-align: left;
    padding-left: 10px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 260px;
    white-space: nowrap;
  }
}

table#ui-table-mini th {
  padding: 5px;
  text-align: left;
}

.ui-card-title {
  padding-bottom: 8px;
  padding-left: 5px;
  border-bottom: 3px solid #3aaf5c;
  max-width: 310px;
}
