.card {
  background: #364658;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  border: none;
}

.card-header {
  background: #364658;
  color: white !important;
  border-bottom: none;
}

.card-header-text {
  color: white !important;
}

.card-text {
  color: white;
}

#content {
  background: #2c3a4a;
}

.sticky-footer {
  background: #2c3a4a !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.ui-btn {
  background: #3aaf5c;
  border: none;
}

th,
td {
  color: white !important;
}

.heading-container {
  overflow: auto;
  margin-bottom: 35px;
  vertical-align: middle;
}

.tenant-info {
  text-align: left;
  font-size: 12pt;
  margin: 5px 0;
}

.tenant-info-heading {
  text-align: left;
  font-weight: 700;
  font-size: 15pt;
}

.property-col-img-container {
  height: 175px;
  overflow: hidden;
  margin-bottom: 10px;
}
.form-control {
  background: #2c3a4a !important;
  color: white !important;
  border: none !important;
}
.top-bar-searchbar {
  background: #364658 !important;
  color: white !important;
  border: none !important;
}

.ui-btn {
  background: #3aaf5c;
  border: none;
  color: white;
  text-transform: none;
}
.rental-application-lease-heading {
  font-weight: bold;
  font-size: 13pt;
}

table#ui-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  border: none;
}

table#ui-table td,
table#ui-table th {
  padding: 20px;
}

table#ui-table th > * {
  background: none;
  color: white;
}
table#ui-table tr {
  background-color: #364658;
  border: none;
}

table#ui-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3aaf5c;
}

table#ui-table td:first-child,
th:first-child {
  border-radius: 5px 0 0 5px;
}
table#ui-table td:last-child,
table#ui-table th:last-child {
  border-radius: 0 5px 5px 0;
}
