img.logo {
  max-width: 258px;
}
.hero-container {
  margin-bottom: 345px;
}
.header-text {
  color: white !important;
}
.content-overlay {
  background: "linear-gradient(rgba(0,0,0,0.48) 0%, rgba(0,0,0,0.41) 99%)";
}
.nav-item {
  margin: 0 10px;
}
.hero-title {
  font-size: 40pt;
  max-width: 950px;
  text-align: center;
}
.hero-text {
  font-size: 12pt;
  max-width: 850px;
}
.header-image-container {
  width: 100%;
  position: absolute;
  top: 540px;
  z-index: 100;
}
.header-image {
  width: 950px;
  margin: 0 auto;
  display: block;
}

.header-laptop-img {
  width: 120%;
}

.section-header {
  text-align: center;
  padding: 45px 0;
  max-width: 755px;
  margin: 0 auto;
}
#features {
  /* background: #f9fffd; */
  padding: 60px 0;
}
.feature-icon {
  font-size: 29pt;
}

.feature-card {
  background: #2c3a4a;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.feature-card-icon {
  color: #3aaf5c;
}

.feature-card-text {
  color: white;
}

.feature-row {
  margin-bottom: 260px;
}
.feature-row-info-column {
  margin-bottom: 20px;
}
.in-progress-text {
  color: #13eded;
}

.pending-text {
  color: rgb(255, 245, 0);
}

.resolved-text {
  color: #3aaf5c;
}

.mr-divider {
  width: 50%;
  height: 40px;
  border-right: 2px solid #2c3a4a;
  margin: 10px 0;
}

.ui-button {
  background: rgb(58, 175, 92);
  border: none !important;
}
.nav-link.landing-nav-link:hover {
  background: none !important;
  border-bottom: 1px solid #3aaf5c !important;
}
.nav-link.landing-nav-link {
  border-radius: 0;
}
.nav-link.nav-button:hover {
  background: none !important;
  border: none !important;
}

.section-header > h2,
.section-header p,
.feature-heading,
.feature-description,
.property-type-heading,
.property-type-text {
  color: black !important;
}
.feature-icon-container {
  background: #3aaf5c;
}
.feature-details-container,
.feature-img-container {
  padding: 15px;
}

.feature-heading-2 {
  color: #3aaf5c;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12pt;
}

.feature-img-container {
  overflow: hidden;
  height: 350px;
  border-radius: 15px;
}

.feature-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.standard-price-card > * {
  color: black !important;

}
.standard-price-card{
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
  border-radius: 10px;
  overflow: hidden;
}
.gallery-container .image-gallery-slide img {
  height: 400px; /* Set the height for images */
  border-radius: 15px;
}
.gallery-container .image-gallery-thumbnail img {
  height: 60px; /* Set the height for thumbnails */
}

@media screen and (max-width: 767px) {
  .landing-hero {
    padding: 100px 0;
  }
  .section-header {
    padding: 20px 0;
  }
  .feature-row {
    margin: 30px 0 60px;
  }
}
@media screen and (max-width: 480px) {
  .landing-hero {
    padding: 50px 0;
  }
  .x_001_laptop_inner_wrap {
    display: none;
  }
}
